@using System.Globalization
@inject NavigationManager Navigation

@code {
    [Parameter] public required List<Trip> Trips { get; set; }
}
<Virtualize Items="Trips" Context="trip">
<table class="table">
    <thead>
    <tr>
        <th>Equipment ID</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Total Hours</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @* @foreach (var trip in Trips) *@
    @* { *@
        <tr @key="trip.Id">  @*This is optimizing rendering lists when they're being updated*@
            <td>@trip.EquipmentId</td>
            <td>@trip.OriginCity?.Name</td>
            <td>@trip.DestinationCity?.Name</td>
            <td>@trip.StartUtc.ToLocalTime()</td>
            <td>@(trip.EndUtc != null ? trip.EndUtc.Value.ToLocalTime().ToString(CultureInfo.InvariantCulture) : "N/A")</td>
            <td>@trip.TotalTripHours</td>
            <td>
                <button class="btn btn-primary" @onclick="() => NavigateToTripDetails(trip.Id)">View Details</button>
            </td>
        </tr>
    @* } *@
    </tbody>
</table>
</Virtualize>

@code {
    private void NavigateToTripDetails(int tripId)
    {
        Navigation.NavigateTo($"/trips/{tripId}");
    }
}